.App {
  text-align: center;
}

.topnav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  min-height: 10vh;
  background: var(--menu-bg);
  color: white;
}

.navlinks{
  color: var(--white-color);
  font-size: var(--menu-font-size);
  width: 50%;
  display: flex;
  font-weight: bold; 
  justify-content: space-around;
  align-items: center;
}

.navIcon{
  font-family: 'Sniglet'; 
  font-size: 40px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
  color: white
}

.navItem {
  font-family: 'Sniglet'; 
  font-size: 50x; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: bold; 
  line-height: 27px;
}

@font-face {
  font-family: 'Plain-Regular';
  src: url('./fonts/Plain-Regular.woff2') format('woff2'),
      url('./fonts/Plain-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plain-Light';
  src: url('./fonts/Plain-Light.woff2') format('woff2'),
      url('./fonts/Plain-Light.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Plain-Bold';
  src: url('./fonts/Plain-Bold.woff2') format('woff2'),
      url('./fonts/Plain-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

:root {
--primary-color:        #057a8d;
--secondary-color:      #f1c111;
--white-color:          #ffffff;
--dark-color:           #171819;
--project-bg:           #f0f8ff;
--menu-bg:              #0c8195;

--title-color:          #15141a;
--gray-color:           #909090;
--link-color:           #404040;
--p-color:              #666262;

--base-font-family:     'Plain-Light', sans-serif;
--title-font-family:    'Plain-Regular', sans-serif;
--font-bold-family:     'Plain-Bold', sans-serif;
--font-weight-bold:     bold;

--h1-font-size:         42px;
--h2-font-size:         32px;
--h3-font-size:         24px;
--p-font-size:          18px;
--base-font-size:       16px;
--menu-font-size:       17px;

--border-radius-large:  100px;
--border-radius-small:  5px;
}

body {
background: var(--white-color);
font-family: var(--base-font-family);
}

.unifont{
  font-family: 'Sniglet'; 
}

/*---------------------------------------
 TYPOGRAPHY              
-----------------------------------------*/

h1,h2,h3,h4,h5,h6 {
font-family: var(--title-font-family);
line-height: inherit;
}

h1 {
color: var(--title-color);
font-size: var(--h1-font-size);
}

h2 {
font-size: var(--h2-font-size);
font-weight: 100;
}

h3 {
font-size: var(--h3-font-size);
font-weight: 100;
margin-bottom: 0;
}

h4 {
font-family: 'Andale Mono';
color: var(--gray-color);
font-family: var(--base-font-family);
font-size: var(--p-font-size);
letter-spacing: 1px;
text-transform: uppercase;
}

p {
color: var(--p-color);
line-height: 1.5em;
margin-bottom: 20px;
margin-top: 20px;
font-size: 17px;
line-height: 26px;
}

b, 
strong {
letter-spacing: 0;
color: #ff99bb;
}


/*  BLOCKQUOTES */
.quote {
position: relative;
margin: 0;
}

.quote::after {
content: "“";
position: absolute;
bottom: -80px;
left: 20px;
font-family: times;
color: var(--gray-color);
font-weight: var(--font-weight-bold);
font-size: 14em;
line-height: 0;
opacity: 0.10;
}

blockquote {
border-left: 5px solid rgba(0,0,0,0.05);
display: block;
margin: 42px 0;
padding: 14px 22px;
color: rgba(0,0,0,0.5);
}


/* BUTTON */
.custom-btn {
background: transparent;
border: 2px solid var(--dark-color);
border-radius: var(--border-radius-large);
padding: 12px 26px 14px 26px;
color: var(--dark-color);
font-family: var(--title-font-family);
font-size: var(--p-font-size);
font-weight: 700;  
white-space: nowrap;
}

.custom-btn.btn-bg {
background: var(--white-color);
color: var(--primary-color);
border-color: transparent;
transition: all .3s ease;
}

.custom-btn:hover,
.custom-btn:focus {
background: var(--dark-color);
color: var(--white-color);
border-color: transparent;
}


/*---------------------------------------
 GENERAL               
-----------------------------------------*/

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*::before,
*::after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

a {
color: var(--link-color);
font-weight: normal;
text-decoration: none;
}

a:hover, 
a:active, 
a:focus {
color: var(--secondary-color);
outline: none;
text-decoration: none;
}

::selection {
background: var(--secondary-color);
color: var(--white-color);
}

.section-padding {
padding: 8em 0;
}

.section-padding2 {
  padding: 30em 0;
  }

.section-padding-half {
padding: 4em 0;
}

.google-map iframe {
display: block;
width: 100%;
}



/*---------------------------------------
MENU             
-----------------------------------------*/

.navbar {
background: #ffb32c;
z-index: 2;
top: 0;
right: 0;
left: 0;
padding: 1.5em;
}

.navbar-brand {
color: var(--black-color);
font-size: var(--h2-font-size);
}

.nav-link {
font-family: 'Sniglet';
color: White;
font-size: 20px;
font-weight: 900;
letter-spacing: 0.4px;
margin: 0 1em;
padding: 0.8em;
}

.nav-link.active,
.nav-link:hover {
color: #ffd6cc;
}

.navbar-expand-lg .navbar-nav .nav-link {
padding-right: 0;
padding-left: 0;
}

.navbar-expand-lg .navbar-nav .nav-link.contact {
border: 2px solid white;
border-radius: var(--border-radius-large);
color: white;
font-family: var(--font-bold-family);
padding: 0.6em 2em 0.8em 2em;
}

.navbar-expand-lg .navbar-nav .nav-link.contact:hover,
.navbar-expand-lg .navbar-nav .nav-link.contact.active {
background: #ff9980;
color: var(--white-color);
}

.navbar-nav .navbar-toggler-icon {
background: none;
}

.navbar-toggler {
border: 0;
padding: 0;
cursor: pointer;
margin: 0 10px 0 0;
width: 30px;
height: 35px;
outline: none;
}

.navbar-toggler:focus {
outline: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
transition: top 300ms 50ms ease, transform 300ms 350ms ease;
transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::before {
transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon::after {
transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
background: black;
transition: background 10ms 300ms ease;
display: block;
width: 30px;
height: 2px;
position: relative;
}

.navbar-toggler .navbar-toggler-icon::before,
.navbar-toggler .navbar-toggler-icon::after {
transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
transition: top 300ms 350ms ease, transform 300ms 50ms ease;
transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
position: absolute;
right: 0;
left: 0;
background: black;;
width: 30px;
height: 2px;
content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
top: 8px;
}



/*---------------------------------------
 HERO              
-----------------------------------------*/

.hero {
position: relative;
padding: 5em 0;
overflow: hidden;
}

.hero-bg {
background: linear-gradient(170deg, #e699ff 40%, var(--white-color) 64%);
}

.hero-image {
position: relative;
top: 2em;
}

.hero2 {
  position: relative;
  padding: 5em 0;
  overflow: hidden;
  }

.hero-bg2 {
  background: linear-gradient(-170deg, var(--white-color) 30%, #ffb366
  64% );
}


.hero3 {
  position: relative;
  padding: 5em 0;
  overflow: hidden;
  }

.hero-bg3 {
  background: linear-gradient(170deg,  #ffb366 30%, var(--white-color)
  64% );
}

.hero4 {
  position: relative;
  padding: 10em 0;
  overflow: hidden;
  }

.hero-bg4 {
  background: linear-gradient(-170deg,  var(--white-color) 30%,  #ff80bf
  64% );
}
  


/*---------------------------------------
 PROJECT              
-----------------------------------------*/

.project {
background: #eee6ff;
}

.project-wrapper {
position: relative;
}

.project-wrapper img {
border-radius: var(--border-radius-small);
}

.project-info {
background: var(--white-color);
border-radius: var(--border-radius-small);
position: absolute;
bottom: 32px;
right: 32px;
left: 32px;
width: 90%;
padding: 15px;
}

.project-info small {
font-family: Plain-Bold;
color: var(--gray-color);
position: relative;
top: 2px;
}



.project-info a {
  color: #a880ff;
}

.project-info .project-icon {
background: var(--primary-color);
}

.project-icon {
position: absolute;
right: 30px;
top: 40px;
background: var(--dark-color);
border-radius: var(--border-radius-large);
color: var(--white-color);
font-size: var(--h2-font-size);
width: 40px;
height: 40px;
line-height: 40px;
text-align: center;
padding-left: 5px;
}

.project-background {
  background: #eddeed;
}

.owl-theme .owl-dots .owl-dot {
outline: none;
}

.owl-theme .owl-dots .owl-dot span {
background: var(--gray-color);
width: 50px;
height: 3px;
margin:  35px 5px;
}

.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
background: var(--secondary-color);
}

.list-detail {
margin-left: 1em;
padding-left: 1em;
position: relative;
}

.list-detail li {
display: block;
list-style: none;
margin: 0.6em 0 0 0.8em;
}

.list-detail li::before {
content: "";
width: 0;
height: 0;
border-width: 0 16px 16px 0;
border-color: transparent var(--secondary-color) transparent transparent;
border-style: solid;
position: absolute;
left: 0;
}

.list-detail span {
position: relative;
bottom: 5px;
}

.client-info img {
width: 100px;
margin-right: 1em;
}



/*---------------------------------------
  ABOUT            
-----------------------------------------*/

.about {
position: relative;
overflow: hidden;
}

.about-image img {
display: block;
margin: 0 auto;
}

.about-background{
  background: #fff2e6 ;
}


/*---------------------------------------
  BLOG            
-----------------------------------------*/

.blog-header {
border-radius: var(--border-radius-small);
position: relative;
overflow: hidden;
}

.blog-header img {
border-radius: var(--border-radius-small);
display: block;
}

.blog-header-info {
background: linear-gradient(transparent,rgba(0,0,0,0.95));
position: absolute;
right: 0;
left: 0;
bottom: 0;
padding: 2em;
}

.blog-header-info h3 {
max-width: 80%;
}

.blog-header-info a {
color: var(--white-color);
}

.blog-header-info a:hover {
color: var(--secondary-color);
}

.blog-sidebar img {
border-radius: var(--border-radius-small);
width: 159px;
margin-right: 22px;
}

.blog-sidebar h3 {
font-size: 18px;
}



/*---------------------------------------
 CONTACT              
-----------------------------------------*/

.newsletter-form .form-control,
.contact-form .form-control {
box-shadow: none;
background: var(--project-bg);
border: 0;
padding: 1.7em 1.3em;
margin: 14px 0;
}

.newsletter-form button,
.contact-form #submit-button {
background: var(--primary-color);
border-radius: var(--border-radius-large);
color: var(--white-color);
cursor: pointer;
font-size: var(--p-font-size);
line-height: 0px;
padding: 1.5em 1.3em;
}

.newsletter-form button {
background: var(--secondary-color);
}



/*---------------------------------------
 FOOTER              
-----------------------------------------*/

.site-footer {
background: var(--dark-color);
padding: 2em 0 2em 0;
clear: both;	
}

.site-footer a {
color: var(--p-color);
}

.site-footer a:hover,
.footer-icon {
color: var(--secondary-color);
}

.footer-link li {
display: inline-block;
list-style: none;
margin: 0 10px;
}

.copyright-text,
.footer-link,
.site-footer .social-icon {
margin-top: 6em;
}

.copyright-text {
margin-top: 5.3em;
}



/*---------------------------------------
 SOCIAL ICON              
-----------------------------------------*/

.social-icon {
position: relative;
padding: 0;
margin: 4em 0 0 0;
}

.social-icon li {
display: inline-block;
list-style: none;
}

.social-icon li a {
text-decoration: none;
display: inline-block;
font-size: var(--base-font-size);
margin: 10px;
text-align: center;
}



/*---------------------------------------
 RESPONSIVE STYLES              
-----------------------------------------*/

@media screen and (min-width: 1200px) {

.about-info h2 {
  max-width: 70%;
}
}

@media screen and (min-width: 991px) {

.project h2 {
  max-width: 32%;
  margin: 0 auto;
}
}

@media screen and (max-width: 991px) {

.hero {
  padding-top: 14em;
}

.hero-text {
  bottom: 2em;
}

.navbar {
  padding: 1em;
}

.navbar-collapse {
  text-align: center;
  padding: 2.5em 0;
}

.nav-link {
  display: inline-block;
}

.navbar-expand-lg .navbar-nav .nav-link.contact {
  margin: 1em 0;
}

.copyright-text, 
.footer-link, 
.site-footer .social-icon {
  margin-top: 3em;
  padding: 0;
  text-align: left;
}
}

@media screen and (max-width: 767px) {

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

.project-info {
  right: 0;
  left: 0;
  margin: 0 auto;
}

.footer-link, 
.site-footer .social-icon {
  margin-top: 1em;
}

.copyright-text {
  margin: 2.5em 0 1em 0;
}

.footer-link li {
  margin-left: 0;
}
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 50%, 50%;
  border-radius: 50%;
}

.table {
  align-items: center;
}

.eventshead{
  font-family: "Papyrus"; 
  font-size: 45px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  line-height: 26.4px;
}
.eventstext{
  display: block;
  max-width:70%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.parentshead{
  font-family: 'Sniglet'; 
  font-size: 50px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  text-align: center;

}

.tipshead{
  font-family: 'Sniglet'; 
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  text-align: center;

}

.parentshead3{
  font-family: 'Book Antiqua'; 
  font-size: 50px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  text-align: center;

}

.parentshead2{
  font-family: "Sniglet"; 
  font-size: 50px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 550; 
  text-align: center;

}

.parent-image{
    display: block;
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
    
}

.parent-background{
  background-color: #f2f2f2;
}

.parent-text-space{
  display: block;
  max-width:85%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.kids-tip-font{
  font-family: 'Sniglet'; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color: #15141a
}


.tips-custom-btn {
  background: transparent;
  border: black;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--border-radius-large);
  padding: 15px 25px 15px 25px;
  color: black;
  font-size: 30px;
  font-family: 'Sniglet';
  font-weight: 700;  
  white-space: nowrap;
  }
  
  
  .tips-custom-btn.tips-btn-bg {
  background: var(--white-color);
  
  color: #ff80bf;
  border-color: transparent;
  transition: all .3s ease;
  }
  
  .tips-custom-btn:hover,
  .tips-custom-btn:focus {
  background: var(--dark-color);
  color: var(--white-color);
  border-color: transparent;
  }

  .kids-tips-image{
    display: block;
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.kids-tips-background{
  background-color: #eee6ff;
}

.faq-background{
  background-color: #ffffe6;
}

.kidstipimage{
  display: block;
  max-width:80%;

}

.icon-size{
  display: block;
  max-width:90%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}
 
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}



.custom-kid-btn.btn-kid-bg {
  color: white;
  border-color: transparent;
  transition: all .3s ease;
  border-radius: 10%
  }

  .gamebackground{
    background-color: #5dbcd2;
    text-align: center
  }

  .kidtipsfont{
    font-family: 'Sniglet'; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
    text-align: center;
  }

  .kidtipshead{
    font-family: 'Sniglet';
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    text-align: center;
  }

  .video{
    text-align: center;
  }

  .player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .careKoala{
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
  }

  .careImg{
    display: block;
    max-width:60%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
  }

  .gamebackground{
    background-color: #ccffdd
  }


  .puzzle-game-pic{
    display: block;
    max-width:80%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
  }

  .wombatSongImg{
    display: block;
    max-width:70%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
  }

  .parentText{
    font-family: "Sniglet"; 
    font-size: 20px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 200; 
    line-height: 26.4px; 
  }


  .kidtipsImg{
    display: block;
    max-width:50%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
  }

.container {
  display: block;
  width: 100%;
}

.card {
  font-family: 'Sniglet'; 
  font-size: 10px; 
  border: 4px solid #ffb32c;
  float: left;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  flex-flow: row-reverse wrap;
  margin: 1px;
  padding: 5px 5px;
  width: 28%;
  font-weight: 400; 
  overflow: hidden; 
  background-color: #fdfcfd
}

.filter-style{
  position: absolute;
  right: 15%;
}


.view-rows {
  width: 1074px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 24px;
  position: relative;
}


/* select buttom */

.custom-select {
  border: 2px solid #ffb32c;
  position: relative;
  font-family: Arial;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.popupfont{
  font-family: 'Sniglet'; 
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color:  #ff9933;
  text-align: left;
}

.popupbutton{
  display: block;
  max-width: 300px;
  margin: auto;
}

.Breadcrumb-font{
  font-weight: 700; 
}

.detail-container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-right {
  font-size: 60px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  bottom: 30%;
  right: 20%;
}

.fact-bottom-right {
  color: white;
  font-weight: 900;
  font-size: 20px;
  position: absolute;
  bottom: 25%;
  right: 20%;
}

.anidetailbackground{
  background-color: #ff00ff;
  color:black
}

.row1-style{
  background-color: #ff9933;
  color: white;
  border-radius: 10px 10px 10px 10px;
}

.row1-font{
  font-family: 'Sniglet'; 
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color:  white;
  text-align: center;
}

.card-image{
    display: block;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.datail-card {
  border: 4px solid rgb(235, 134, 41);
  float: left;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  flex-flow: row-reverse wrap;
  margin: 1px;
  padding: 3px 3px;
  width: 28%;
  overflow: hidden; 
  background-color: #fdfcfd
}

.row2-font{
  font-family: 'Sniglet'; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  color:  black;
  text-align: center;
}

.row3-font{
  font-family: 'Sniglet'; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  color: rgb(235, 134, 41);
  text-align: center;
}

.back-button{
  position: relative;
  left: 0px;
}

.forward-button{
  position: relative;
  right: 0px;
}

.breadcrumb{
  background-color: transparent
}

.sound{
  width: 50%;
  margin: 0 auto;
}

.story-img{
  display: block;
  max-width:40%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.story-img2{
  display: block;
  max-width:60%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.story-img3{
  display: block;
  max-width:55%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.card-name{
  font-family: 'Sniglet'; 
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  text-align: center;
  font-weight: 600; 
}

.button-refresh{
  text-align: center;

}

.timer-number{
  font-family: 'Sniglet'; 
  font-size: 90px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 800; 
  color:  rgb(235, 134, 41);
  text-align: center;
}

.tips-style{
  border-radius: 10px 10px 10px 10px;
  background-color: white
}

.coin-tossing-font{
  font-family: 'Sniglet'; 
  font-weight: 700; 
}

.tips-font{
  font-family: 'Sniglet'; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  color:  #ff9933;
  text-align: center;
}

.story-title{
  font-family: 'Sniglet'; 
  font-size: 45px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  color:  #ff9933;
  text-align: center;
}


.top-center {
  font-size: 60px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  bottom: 55%;
  right: 20%;
}

.top-left {
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  color: white;
  bottom: 90%;
  right: 83%;
}

.white-font{
  color: white;
}

.fact-bottom-right-parent {
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 45%;
  right: 40%;
}


.top-center-tips{
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  bottom: 20%;
  right: 45%;
}

.fact-bottom-right-tips{
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  right: 35%;
}

.top-center-conservation{
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  bottom: 20%;
  right: 30%;
}

.fact-bottom-right-conservation{
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  right: 35%;
}

.top-center-measures{
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  bottom: 20%;
  right: 35%;
}

.fact-bottom-right-measures{
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
  right: 35%;
}

.top-center-map{
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  bottom: 35%;
  right: 45%;
}

.fact-bottom-right-map{
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 25%;
  right: 40%;
}


.top-center-prediction{
  font-size: 30px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700; 
  position: absolute;
  color:black;
  bottom: 35%;
  right: 40%;
}

.fact-bottom-right-prediction{
  color:black;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  bottom: 25%;
  right: 40%;
}

.icon-dim{
    max-width:10%;
}

.coin-img{
  display: block;
  max-width:60%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.coin-img2{
  display: block;
  max-width:50%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.card-font{
  font-family: 'Sniglet'; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  text-align: center;
}

.copy-font{
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  text-align: center;
}

.link-color{
  color:blue
}

.story-des{
  text-align: center;

}

.story-desc-img{
  display: block;
  max-width:70%;
 
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.story-desc-font{
  font-family: 'Sniglet'; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  text-align: center;
}

.main-img{
  display: block;
  max-width:100%;
  margin-left: auto;
  margin-right: auto;
  height:auto;
}

.game-desc{
  font-family: 'Sniglet'; 
  color: #ff9933;
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 600; 
  text-align: center;
}

.game-desc-btn{
  right: 30%;
}


